<!DOCTYPE html>
<html lang="es">
  <%- include("template/head") %>
  <body>
    <div class="container-404">
      <img src="/assets/logo.png" alt="Logo">
      <h1 class="h1-404"> 404 NOT FOUND</h1>
      <p>
        La página que estás buscando no existe.
      </p>
      <a href="/api/backoffice" class="btn-404">Volver al panel</a>
    </div>
  </body>
</html>